/* CSS Document */

   /*公用部分*/
   
    b,strong{ font-weight:normal;}
    i{ font-style:normal;}
    a{text-decoration:none; outline:none;}
   .cl{ clear:both; overflow:hidden;}
   /*头部开始*/
   #head{height:156px; background-color:#ffffff; display:block;}
   #head .top{height:35px; background-color:#f9f9f9; border-bottom:1px solid #eeeeee;}
   #head .head_top{margin:0 auto;width:1000px;height:35px; line-height:35px;font-size:12px; font-family:"宋体"; color:#999;}
   #head .head_top p{width:223px; float: left; }
   #head .head_top .top_right{float:right;}
   .top_right a{padding:0px 5px;color:#999; display:inline-block; float: left; height:36px;}
   .top_right .shopping_cart strong{ display:inline-block; float:left; margin-top:9px; width:16px; height:14px;background:url(../image/index_images.png) no-repeat 0px -712px; cursor:pointer;}
   .top_right .shopping_cart b{ display:inline-block; float:left;margin-left:3px; cursor:pointer;}
   .top_right span{display:inline-block; float:left; color:#ddd;}
   .top_right .top_right_phone{ padding-left:5px; float:left;}
   .top_right_phone .img_01{width:13px; height:22px; margin:7px 0px; display:inline-block; float:left;}
   .top_right_phone .sp_01{cursor:pointer; display:inline-block;padding:16px 0px;}
   
   #head .main{ margin:0 auto; width:1000px;height:80px;}
   .main .main_left{ width:350px; float:left; height:80px;}
   .main_left p{width:350px; height:80px;}
   .main_left p img{ display:block;}
   .main_left p span{ line-height:80px;font-size:28px; color:#2973b6; font-family:"微软雅黑"; font-weight:bold;}
   
   .main .main_search{width:500px;height:36px;float:right;margin:22px 0px; display:inline;}
   .main_search .input_01{width:406px; height:12px; padding:9px 0px 9px 10px; border-top:3px solid #ff6000; 
                                border-bottom:3px solid #ff6000; border-left:3px solid #ff6000; border-right:none;
								display:inline-block; float:left;font-size:12px;color:#999;outline:medium;}
   .main_search .input_02{height:36px; background-color:#ff6000; width:81px; border-style:none; 
                                  display:inline-block; float:left; color:#ffffff; font-weight:bold; font-size:12px; cursor:pointer; outline:none;}

   
   #head .menu{ height:40px;background-color:#ff6000;}
   #head .head_menu{margin:0 auto; width:1000px; height:40px; line-height:40px; }
   .head_menu ul li{float:left; display:block; height:40px;}
   .head_menu ul li a{ display:inline-block; width:110px; height:40px; line-height:40px;text-align:center; font-family:"微软雅黑"; font-weight: bold; font-size:14px;color:#ffffff;}
   
   
   
   .li_hover{ background:url(../image/menu_hover_bg.png) repeat-x;}
   .li_h{ background:url(../image/menu_hover_bg.png) repeat-x;}
   .button_hover{ background-color:#ff7f00;}
